.container {
  display: flex;
  justify-content: center;
  width: 80%;
  float: right;
  background-color: #191c26;
  margin: 0;
  padding: 0;
  height: 100vh;

}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 20px;
  width: 500px;
  animation-name: fadeInHome;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 800ms;
}

.description {
  color: #a3a9bd;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5;
}

.description h1 {
  text-align: center;
  font-size: 3.25rem;
  font-weight: normal;
  color: white;
  margin-bottom: 14px;
  margin-top: 0;
  line-height: 1.2;
}

.description p {
  margin-top: 0;
  font-size: 1.2rem;
}

.headshot-container {
  height: 300px;
  width: 300px;
  background: url("../../assets/images/current-cj-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 2px 5px 1px black;
}

.icon-border {
  /* line-height:1px; */
  border-right: 1px solid grey;
}

.icon-border:hover {
  border: none;
}
/* 
.icon-border:hover + .icon-border {
  border:none;
} */

.resume {
  display:inline-block;
  text-decoration: none;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 30px;
  padding: 12px 20px;
  margin-top: 18px;
  transition: all .25s;
  font-size: 1.75rem;
}

.resume:hover {
  border: 2px solid black;
  transform: translateY(-10px);
  color: black;
  font-weight: bold;
  background-color: #FFF;
  box-shadow: 1px 5px 5px 1px black;
}

.socials {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top:0;
}

.socials li {
  padding: 0 15px;
  cursor: pointer;
  transition: all 0.35s;
  line-height: 1px;
}

.socials li:hover {
  transform: scale(1.5);
  color: white;
}


@keyframes fadeInHome {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Mobile Devices */
@media screen and (min-width: 375px) and (max-width: 812px) {
  .container {
    width: 100%;
    line-height: 2;
  }

  .description-container {
    padding: 55px 20px 75px;
  }

  .description h1 {
    font-size: 2.75rem;
    margin-top: 20px;
  }

  .headshot-container {
    height: 225px;
    width: 225px;
  }

  .resume {
    font-size: 1.25rem;
  }
}

/* Mac 1440x759 */
@media screen and (min-width: 812px) and (max-width: 1435px) {
  .container {
    width: 100%;
    line-height: 2;
  }

  .description {
    line-height: 1.2;
  }

  .description-container {
    padding: 50px 20px 100px;
  }

  .description h1 {
    font-size: 3rem;
  }

  .description p {
    font-size: 1.3rem;
  }


}
