.container {
  display: flex;
  justify-content: center;
  width: 76%;
  float: right;
  background-color: #191c26;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 20px;
  width: 500px;
}

.description {
  color: #a3a9bd;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5;
}

.description h1 {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 14px;
  margin-top: 0;
  line-height: 1.2;
}

.description p {
  margin-top: 0;
}

.headshot-container {
  height: 300px;
  width: 300px;
  background: url("../../assets/images/current-cj-image.jpg");
  background-repeat: no-repeat;
  background-position: center-left;
  background-size: cover;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 2px 5px 1px black;
}

.icon-border {
  /* line-height:1px; */
  border-right: 1px solid grey;
}

.icon-border:hover {
  border: none;
}

.resume {
  display:inline-block;
  text-decoration: none;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 30px;
  padding: 12px;
  margin-top: 18px;
  transition: all .25s;
}

.resume:hover {
  border: 2px solid black;
  transform: translateY(-10px);
  color: black;
  font-weight: bold;
  background-color: #FFF;
  /* box-shadow: 0px 0px 20px black; */
  box-shadow: 1px 5px 5px 1px black;
}

.socials {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.socials li {
  padding: 0 15px;
  cursor: pointer;
  transition: all 0.35s;
  line-height: 1px;
}

.socials li:hover {
  transform: scale(1.5);
  color: white;
}

@media screen and (min-width: 375px) and (max-width: 812px) {
  .container {
    width: 100%;
    line-height: 2;
  }

  .description-container {
    padding: 75px 20px;
  }

  .description h1 {
    font-size: 3.25rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
  .container {
    width: 100%;
    line-height: 2;
  }
}
