.container {
  background-color: #191c26;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  float: right;
  padding-bottom: 120px;
  padding-top: 120px;
  color: #fff;
}

.col {
  display: flex;
  flex-direction: column;
  margin: 10px 40px;
}

.col:nth-of-type(1) span:nth-of-type(2),
.col:nth-of-type(1) span:nth-of-type(3) {
  transform: translateX(-80px);
}

.col:nth-of-type(3) span:nth-of-type(2),
.col:nth-of-type(3) span:nth-of-type(3) {
  transform: translateX(80px);
}

.col:nth-child(2) {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col:nth-child(1),
.col:nth-child(3) {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-between;
}

.col span {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px auto;
}

.col span p {
  margin: 0;
  color: #fff;
  font-size: 0.85em;
  font-weight: bold;
  text-shadow: 3px 3px #000000;
}

.main-content {
  height: auto;
  padding: 0 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-content h3 {
  font-size: 45px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  text-shadow: 3px 3px #000000;
}

.middle {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 8px;
}

.middle span:nth-of-type(1) {
  transform: translateX(-65px);
}
.middle span:nth-of-type(3) {
  transform: translateX(65px);
}

.skills {
  background-color: #0e0e0e;
  height: 600px;
  width: 600px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 3px 5px 3px black;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.skills img {
  height: 40px;
  width: 40px;
}

.subheader {
  max-width: 90%;
  color: #a9afc3;
  margin: 0;
  line-height: 50px;
  padding-top: 30px;
}


/* Small laptops */
@media screen and (min-width: 0px) and (max-width: 1435px) {
  .container {
    width: 100%;
  }

  .skills-container {
      margin: 25px 0;
  }
}

/* Small Movile Devices */
@media screen and (max-width: 375px) {
  .col {
    margin: 0 10px;
  }

  .col span {
    transform: translateX(0) !important;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .main-content {
    padding: 0 10px;
  }

  .middle {
    flex-direction: column;
    left:0;
  }

  .middle span {
    margin: 10px 0;
  }

  .skills {
    width: 100%;
    border-radius: 5px;
  }

  .skills span {
    margin: 6px auto;
  }

  .subheader {
    text-align: center;
    margin-left: 20px;
  }
}

/* Mobile Devices */
@media screen and (max-width: 320px) {
  .col {
    margin: 0 8px !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 812px) {
  .col {
    margin: 0 20px;
    height: 92% !important;
  }

  .col span {
    transform: translateX(0) !important;
    margin: 0;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-content {
    padding: 0 10px;
  }

  .main-content h3 {
    text-align: center;
  }

  .middle {
    flex-direction: column;
    position: static;
  }

  .middle span {
    margin: 9px;
  }

  .middle span:nth-of-type(1) {
    transform: translateX(-75px);
  }
  .middle span:nth-of-type(3) {
    transform: translateX(75px);
  }

  .subheader {
    text-align: center;
    margin-left: 20px;
  }

  .skills {
    width: 90%;
    border-radius: 5px;
    font-size: 0.9em;
    margin-top: 20px;
  }
}

/* Tablets to Small Laptops */
@media screen and (min-width: 750px) and (max-width: 1023px) {
  .col {
    margin: 10px 30px;
  }

  .col:nth-child(1),
  .col:nth-child(3) {
    height: auto;
  }

  .middle {
    left: 0;
  }

  .middle span:nth-of-type(1) {
    transform: translateX(0);
  }

  .col:nth-of-type(1) span:nth-of-type(2),
  .col:nth-of-type(1) span:nth-of-type(4) {
    transform: translateX(-60px);
  }
  .col:nth-of-type(3) span:nth-of-type(2),
  .col:nth-of-type(3) span:nth-of-type(4) {
    transform: translateX(60px);
  }

  .skills {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {

}