.container {
  background-color: #111319;
  margin: 0;
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  float: right;
  height: 100%;
  width: 80%;
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 0 20px;
  position: relative;
}
/* 
.portfolio-content p {
  margin: 0;
  color: #a9afc3;
} */

.portfolio-content h3 {
  font-size: 45px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  color: #fff;
  text-shadow: 3px 3px #000000;
}

.portfolio-description {
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
  flex-direction: column;
  /* padding-top: 30px; */
}

/* Portfolio Projects */
.projects {
  display: flex;
  margin: 50px 0;
  border: 1px solid black;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
}

/* Portfolio Nav */
.projects-nav {
  height: 100%;
  width: 18%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-nav span {
  cursor: pointer;
  color: #a3a9bd;
  transition: all 0.25s;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 60px auto;
}

/* React */
.react-active {
  color: #61dbfb !important;
}

.react:hover {
  color: #61dbfb;
}

/* Python */
.python-active {
  color: rgba(255, 210, 62, 1) !important;
}

/* HTML */
.frontend {
  display: flex !important;
  justify-content: space-evenly !important;
}

.frontend-active {
  justify-content: space-evenly !important;
}

.frontend:hover svg:first-of-type {
  color: #e34f26 !important;
  transition: all 0.25s;
}
.frontend:hover svg:nth-child(2) {
  color: #2965f1 !important;
  transition: all 0.25s;
}
.frontend:hover svg:nth-child(3) {
  color: #f7df1e !important;
  transition: all 0.25s;
}

.javascript {
  height: 100%;
}

/* Portfolio Projects Container */
.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #111319;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.language-title {
  margin: 0;
  margin-top: 7px;
}

.language-title h3 {
  transform: translateX(-25px);
  animation: animateTitle 500ms forwards;
}

.current-projects {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: baseline;
  margin-bottom: 20px;
}

/* Carousel Component Styles */
.carousel {
  width: 100%;
}

/* Disable hidden overflows on carousel for popcard effect to work on mobile */
.carousel > div {
  overflow: visible !important;
}

.carousel > div > div {
  overflow: visible !important;
}

/* Animate Front Card title to the back */
@keyframes animateTitle {
  0% {
    transform: translateX(-25px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Once the screen gets below a laptop, hide nav and take up full screen */
@media screen and (max-width: 1435px) {
  .container {
    width: 100%;
  }
}

/* Laptops and Large Desktops */
@media screen and (min-width: 1440px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .language-title h3 {
    font-size: 2.25rem;
  }
}

/* Tablets to Small Laptops */
@media screen and (min-width: 813px) and (max-width: 1435px) {
  .projects-nav {
    width: 13%;
  }
}

/* Mobile Devices */
@media screen and (min-width: 320px) and (max-width: 812px) {
  .portfolio {
    align-items: center;
  }

  .portfolio-content {
    /* align-items: center; */
    float: none;
  }

  .portfolio-content h3 {
    text-align: center;
  }

  .language-title h3 {
    font-size: 2em;
    margin: 5px 0 10px;
  }

  .portfolio-description {
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .portfolio-description p {
    width: 75%;
  }

  .projects {
    flex-direction: column;
    width: 95%;
    overflow: hidden;
    margin: 20px auto;
  }

  .projects-container {
    width: 100%;
    height: 100%;
  }

  .projects-nav {
    width: 100%;
    flex-direction: row;
    height: 15%;
    border-right: none;
    border-bottom: 1px solid white;
  }

  .projects-nav span {
    margin: 10px auto;
  }
}

/* PORTFOLIO 2 */

.gameflix {
  width: 100%;
  border: 1px solid black;
}

.portfolioActions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: 10px;
}

.portfolioActions div {
  margin: 0 20px;
  transition: 150ms ease-in-out;
  color: white;
  cursor: pointer;
}

.portfolioActions div:hover {
  transform: scale(1.05);
  font-weight: 900;
}

.portfolioActions p {
  font-size: 1.25rem !important;
}

/* .portfolioActions div:first-of-type {
  margin-left:0;
} */

.portfolioItem {
  display: flex;
  width: 45%;
  text-align: center;
  background: #191c25;
  margin-bottom: 30px;
  justify-content: space-between;
  border-radius: 6px;
  border: 2px solid white;
  box-shadow: 0px -2px 2px black;
  overflow: hidden;
  height: 420px;
  position: relative;
  z-index: 0;
}

.portfolioItem:nth-child(2),
.portfolioItem:nth-child(4) {
  flex-direction: row-reverse;
  text-align: right;
}

.portfolioItem:hover {
  background: #313748;
  box-shadow: 1px 1px 9px 4px rgba(255, 255, 255, 0.5);
}

.portfolioItem > img {
  /* max-width: 50%;
  min-width: 50%; */
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  filter: blur(1px) brightness(0.5);
}

.projectItemHeader {
  display: flex;
  flex-direction: column;
  margin: 15px 20px 12px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
}

.projectItemHeader h2 {
  margin: 5px 0;
  font-size: 2rem;
  color: dodgerblue;
  text-shadow: -2px 2px 1px black;
}

.projectItemHeader > h6 {
  margin: 0;
  margin-top: -14px;
  color: yellow;
  font-size: 0.85rem;
}

.projectStack {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* .portfolioItem:nth-of-type(1) .projectStack .stackList .projectStackItem:first-of-type,
.portfolioItem:nth-of-type(3) .projectStack .stackList .projectStackItem:first-of-type {
  margin-left:0;
}

.portfolioItem:nth-of-type(2) .projectStack .stackList .projectStackItem:last-of-type,
.portfolioItem:nth-of-type(4) .projectStack .stackList .projectStackItem:last-of-type {
  margin-right:0;
} */

.projectStackItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectStackItem img {
  height: 15px;
  width: 100%;
}

.stackList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-height: 90px;
  gap: 5px;
}

.projectStackItem {
  margin: 0 10px;
}

.projectStackItem span {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  text-shadow: -2px 1px 1px black;
}

.projectStackItem img {
  height: 25px;
  width: 25px;
  max-width: 100%;
  min-width: 0%;
  filter: drop-shadow(-2px 1px 0px rgba(0, 0, 0, 0.5));
}

.projectStack h6 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 1.2rem;
  text-shadow: -2px 2px 1px black;
}

.wrapper {
  background-color: #111319;
  position: relative;
  padding: 20px 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 750px) {
  .portfolioActions {
    align-items: center;
  }

  .portfolioActions p {
    margin: 5px 0 10px !important;
  }

  .portfolio-content {
    padding: 0 20px;
  }

  .portfolioItem {
    width: 100%;
  }

  .projectItemHeader {
    margin: 10px 0;
    width: 100%;
    align-items: center;
    padding: 0 8px;
  }

  .projectItemHeader p {
    margin: 5px 0;
    font-size: 1.05rem;
    text-align: center;
  }

  .projectStack {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .projectStackItem {
    margin: 0 10px !important;
  }

  .stackList {
    justify-content: space-evenly !important;
    width: 100%;
    flex-wrap: wrap;
  }

  .wrapper {
    padding: 20px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .portfolioItem {
    width: 100%;
    height: 475px;
    padding: 10px;
  }

  .projectItemHeader h2 {
    font-size: 1.7rem;
  }

  .projectStack h6 {
    font-size: 1.45rem;
  }
}
