.nav {
  height: 100vh;
  background-color: black;
  width: 24%;
  max-width: 24%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all .5s;
}

.nav-hidden {
  height: 100vh;
  background-color: black;
  width: 24%;
  max-width: 24%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -240px;
  transition: all .5s;
}

.nav-toggle {
  color: white;
  margin: 25px;
  padding:0;
  position:fixed;
  cursor: pointer;
  opacity: .25;
  z-index: 1000;
  display:none;
}

.nav-toggle:hover {
  opacity: 1;
}

/* NAV Header */
.nav-header {
  height: 12%;
  border-bottom: 1px solid white;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.8rem;
}

.nav-header a,
.nav-header a:visited {
  color: white;
  text-decoration: none;
}

.nav-header h1 {
  margin-left: 30px;
  font-size: 3rem;
}

.nav-header h1 span {
  color: #527ca6;
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
}

/* NAV Items */
.nav-item {
  cursor: pointer;
  padding: 15px 15px;
  width: 100%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.nav-item > .active {
  background: #191C26;
}

.nav-list {
  list-style: none;
  color: white;
  padding: 60px 40px;
  margin: 0;
}

.nav-list a:visited {
  text-decoration: none;
}

.nav-list a {
  text-decoration: none;
  font-weight: bolder;
  color: white;
  display: flex;
  align-items: center;
  background-color: black;
  width: 100%;
  margin-bottom: 40px;
  border-radius: 6px;
  background: linear-gradient(to left, transparent 50%, #191c26 50%);
  background-position: right bottom;
  background-size: 200% 100%;
  transition: 0.5s ease-out;
  font-size: 1.4rem;
}

.nav-list a:hover {
  background-position: left;
}

/* NAV Footer */
.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #34495e;
}

.nav-footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  justify-content: center;
}

.footer-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 65%;
}

.footer-email {
  color: #A3A9BD;
  font-size: 14px;
}

.footer-name {
  font-weight: 900;
}

.footer-info p {
  margin: 0;
}

.nav-footer-inner {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 40px;
}

/* NAV Footer Image */
.footer-image {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-right: 10px;
}

.footer-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

@media screen and (min-width: 1024px) {
  .nav {
    left: 0px;
  }

  .nav-hidden {
    left: 0px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .nav-list {
    padding: 60px 30px;
  }

  .nav-item {
    padding: 15px 5px;
  }

  .footer-image {
    display: none;
  }

  .footer-info {
    width: 100%;
  }
}


@media screen and (min-width: 375px) and (max-width: 812px) {
  .nav {
    width: 50%;
    max-width: 100%;
  }

  .nav-toggle {
    display:block;
  }

  .nav-list {
    padding: 30px 10px;
  }

  .nav-list a {
    font-size: 1.15rem;
  }

  .nav-header h1 {
    font-size: 2rem;
  }

  .nav-footer {
    padding: 20px 5px;
  }

  .footer-image {
    display:none;
  }

  .footer-info {
    width: 100%;
  }

  .footer-email {
    font-size: 12px;
  }
}