html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  user-select:none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  line-height: 30px;
  word-wrap: break-word;
  letter-spacing: 0;
  background-color:black;
  
}

.item-active {
  background-color: #191C26;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bevan', cursive;
}
